

@font-face {
	font-family: SofiaProB;
	src: local('☺︎'),
		 local('Sofia Pro Bold'),
		 url('../fonts/SofiaProBold.ttf') format('truetype');
}

@font-face {
	font-family: SofiaProM;
	src: local('☺︎'),
		 local('Sofia Pro Medium'),
		 url('../fonts/SofiaProMedium.ttf') format('truetype');
}

@font-face {
	font-family: SofiaProR;
	src: local('☺︎'),
		 local('Sofia Pro Regular'),
		 url('../fonts/SofiaProRegular.ttf') format('truetype');
}

@font-face {
	font-family: SofiaProSB;
	src: local('☺︎'),
		 local('Sofia Pro SemiBold'),
		 url('../fonts/SofiaProSemiBold.ttf') format('truetype');
}
@font-face {
	font-family: OSansSB;
	src: local('☺︎'),
		 local('Open Sans SemiBold'),
		 url('../fonts/OpenSansSB.ttf') format('truetype');
}
@font-face {
	font-family: OSans;
	src: local('☺︎'),
		 local('Open Sans'),
		 url('../fonts/OpenSans.ttf') format('truetype');
}
